body {
  font-family: sans-serif;
  margin: 0 auto;
  min-width: 320px;
  padding: 80px 0;
  width: 500px;
}

.board {
  height: 500px;
  width: 500px;
}

@media only screen and (max-width : 500px) {
  body {
    width: 320px;
    padding: 60px 0;
  }

  .board {
    height: 320px;
    width: 320px;
  }
}
